<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <form action="/calculate" method="GET">
        <fieldset>
            <legend><%= title %></legend>
            <label>
                Value
                <input type="text" name="value" value="<%= value %>" required>
            </label>
            <label>
                Rate
                <input type="number" min="1" max="100" name="rate" value="<%= rate %>" required>
            </label>
            <label>
                Months
                <input type="number" min="1" name="months" value="<%= months %>" required>
            </label>
            <button type="submit">Calculate</button>
        </fieldset>
    </form>
    <% if(projections.length) { %>
    <fieldset>
        <legend>Projection</legend>
        <table>
            <tr>
                <th>Month</th>
                <th>Value</th>
            </tr>
            <% projections.forEach(projection => { %>
            <tr>
                <td><%= projection.month %></td>
                <td>$ <%= projection.amount.toFixed(2) %></td>
            </tr>
            <% }) %>
        </table>
    </fieldset>
    <% } %>
</body>
</html>